{% extends 'base.html' %}
{% block content %}

<h1>Finches</h1>


<div class = "row">
  {% for finch in finches %}
  <a href="{% url 'detail' finch.id %}">
  <div class="container center-align col s4">
  
  <div class="card hoverable blue lighten-5">
      <div class="card-content white-text indigo darken-4">   
  <p>{{ finch.name }} </p>
      </div>
  <p>Breed: {{ finch.breed }} </p>
  <p>Description: {{ finch.description }} </p>
  
  <br>
  </div>
  </div>
</a>
  
  
  
  {% endfor %}
  </div>

{% endblock %}